<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">


  <ng-container matColumnDef="ticketNumber">
    <th mat-header-cell *matHeaderCellDef> Ticket No.</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.ticketNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title.</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.title}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description.</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.description}} </td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th mat-header-cell *matHeaderCellDef> Severity</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.severity}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status.</th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.status}} </td>
  </ng-container>

  <ng-container matColumnDef="ticketAssignee">
    <th mat-header-cell *matHeaderCellDef> Employee Number Assigned</th>
    <td mat-cell
        *matCellDef="let ticket"> {{ticket.ticketAssignee ? ticket.ticketAssignee.employeeNumber : 'Unassigned'}} </td>
  </ng-container>

  <ng-container matColumnDef="ticketWatchers">
    <th mat-header-cell *matHeaderCellDef> Ticket Watchers </th>
    <td mat-cell *matCellDef="let ticket">
      <ng-container *ngIf="ticket.ticketWatchers && ticket.ticketWatchers.length > 0; else noWatchers">
      <span *ngFor="let watcher of ticket.ticketWatchers; let last = last">
        {{ watcher.employeeNumber }}
        <span *ngIf="!last">,</span>
      </span>
      </ng-container>
      <ng-template #noWatchers>
        No Watchers
      </ng-template>
    </td>
  </ng-container>


  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let ticket">
      <button (click)="openUpdateTicketDialog(ticket)"mat-mini-fab color="primary">
        <i class="material-icons">drive_file_rename_outline</i>
      </button>
      <button routerLink="./assignee-and-watchers" (click)="assigneeAndWatcherDialog(ticket)" mat-mini-fab color="primary">
        <i class="material-icons">manage_accounts</i>
      </button>
      <button (click)="onRowDeleteTicket(ticket)" mat-mini-fab color="warn">
        <i class="material-icons">delete_forever</i>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


