<h2 mat-dialog-title>Assign Employee and Watchers</h2>
<mat-dialog-content>

  <mat-form-field>
    <mat-label>Select Employee</mat-label>
    <mat-select [(ngModel)]="data.employees.employeeNumber">
      <mat-option *ngFor="let employee of data.employees" [value]="employee.employeeNumber">
        {{employee.firstName}} {{employee.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="assign-watchers-section">
    <ul>
      <mat-label>Assign Watchers</mat-label>
    <li *ngFor="let employee of employees">
      <mat-checkbox [(ngModel)]="employee.isChecked"
                    (ngModelChange)="updateAllChecked()">
        {{employee.firstName}} {{employee.lastName}}
      </mat-checkbox>
    </li>
  </ul>
  </span>

</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button color="primary"
    mat-dialog-close>Submit
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
